#public_top{

    height: 31px;
    background: #EFEFEF url("../images/top.png" ) repeat-x;

}
#shrot_cut{
    height: 30px;
    width: 1210px;
    line-height: 30px;
    margin: 0px auto;

}
a{
    color: #333;
}#shrot_cut_l li{
     float: left;

 }
 #shrot_cut_l a{
     padding:0px 8px;
     border-right: 1px solid #e0e0e0;
 }
#nav_star{
     height: 10px;
     width: 10px;
     background: url("../images/top.png") -57px -289px;
     position: relative;
     left: 4px;
     top: 10px;
     display: block;
     float: left;
}
#shrot_cut_r li{
    float: left;
}
#shrot_cut_r a{
    padding:0px 8px;
    border-right: 1px solid #e0e0e0;
}
#nav_tri{
    background: url("../images/top.png" ) -35px -281px;
    /*position: relative;*/
    /*float: left;*/
    /*display: block;*/

    /*height:4px;*/
    /*widows:7px;*/
    height: 4px;
    width: 7px;
    /*background: url("../images/top.png") -57px -289px;*/
    /*left: 4px;*/
    /*top: 10px;*/
    display:inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
#shrot_cut_activate dd{
    display: block;

}
#shrot_cut_activate a{
    border:none;
}
#shrot_cut_activate span{
    background: url("../images/top.png") -35px -275px;
}
#shrot_cut_activate{
    border:1px #ccc solid;
    position: relative;
    top: 3px;
    right: 1px;
    background-color: #fff;
}
#shrot_cut_activate dt a{
    padding:0px 6px 3px 6px;
    border-bottom:1px#F3F3F3 solid;
    margin:0px 2px;
}

/*导航栏结束*/
.penglei{
    width: 1210px;
    height: 30000px;;
    /*background: #CCCCCC;*/
    margin:0px auto;
}
#head{
    width: 1210px;
    height: 91px;

}
#logo{
    width: 324px;
    height: 68px;
    position: relative;
    margin-top: 23px;
    float: left;
}

#logo_ads {
    width: 115px;
    height: 51px;
    position: absolute;
    left: 187px;
    top: 0px;
}
/*名字里不要是ad不然会被自己浏览器的插件屏蔽*/
#search{
    width: 500px;
    height: 60px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFFFFF;
    position: relative;
}
#search_form_left{
    background: url("../images/top.png" ) -81px -470px;
    height: 36px;
    width: 3px;
    float: left;
}
#search_form_center{
    background: url("../images/top.png" ) 0px -357px;
    width: 493px;
    height: 36px;
    float: left;


}
#search_form_right{
    background: url("../images/top.png" ) 0px -470px;
    width: 3px;
    height:36px;
    float: left;
}
#keyword{
    width: 413px;
    height: 30px;
    position: relative;
    top: 3px;
    border:0px;
    margin: 0px ;
    padding: 0px;

}
#search_button{
    width: 78px;
    height: 30px;
    line-height: 30px;
    clear: both;
    position: absolute;
    right: 3px;
    top: 3px;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    background: url("../images/top.png" ) 0px -395px;
    text-align: center;
    cursor: pointer;
}

#hot_keyword li {
    display: inline;

}
#hot_keyword a{
    color: #999999;
    padding-right: 5px;
}
#hot_keyword .hot_shit{
    color: #c00 ;
}

#head_card{
    width: 260px;
    height: 45px;
    float: right;
    margin-top: 20px;
    /*background-color: #A62020;*/
}
#head_card_person{
    height:29px;
    width:110px;
    background: url(../images/buy.png) no-repeat -65px -320px;
    float: left;
    line-height:29px;
    position: relative;
}
.icon_dropdown_big{
    background: url(../images/top.png) no-repeat -16px -283px;
    position: absolute;
    top:11px;
    height: 7px;
    width: 12px;
    left: 90px;
}
#head_card_car{
    background:url(../images/buy.png) no-repeat 0px -252px;
    height:29px;
    width:131px;
    float: right;
    position: relative;
}
#head_card_person a{
    left: 36px;
    position: absolute;
}

#head_card_car a{
    line-height:29px;
    left: 40px;
    position: absolute;
}
.icon_avatar{
    width:24px;
    height:24px;
    background:  url("../images/buy.png") -202px -176px;
    float: left;
    position: relative;
    top: 1.5px;
    
}
.icon_account{
    background: url(../images/top.png) no-repeat 0px -231px;
    top: -13px;
    left: 30px;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;

}
.icon_account span{

    background-color: #c00;
    height: 20px;
    line-height: 16px;
    color: #FFF;
    text-indent: 0px;
    margin-left: 8px;
    background: url(../images/top.png) no-repeat 100% -595px;
    position: absolute;
    top: 0px;
    left: -1px;
    font-style: normal;
    padding-right: 5px;
}

.icon_dropdown{
    background: url(../images/top.png) no-repeat -53px -275px;
    position: absolute;
    top:9px;
    height: 11px;
    width: 6px;
    left: 115px;
}
#head_card_person dd{
    width:290px;
    padding: 8px;
    border:1px #ccc solid;
    position: absolute;
    top: 29px;
    /*right: -112px;*/
    right: -2px;
    background: #fff;
}
a#load{
    left:230px;
    width: 73px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: url(../images/buy.png) no-repeat -124px -220px;
    border: none;

}
 #cart_info a{
    position:static;
     text-align: right;

 }
 #cart_info  li{
     border-bottom: 1px #ccc dotted;
     line-height: 30px;
     width: 123px;
     padding:0px 10px;
 }
#cart_order  li{
    border-bottom: 1px #ccc dotted;
    line-height: 30px;
    width: 123px;
    padding:0px 10px;

}
#cart_order a{
    position:static;
}
#cart_order{
    border-left:1px #ccc dotted;
}
#person_hover{

    right: 112px;
    display: none;
    /*background-color: #000;*/
    /*z-index:100;*/
}

#car_hover {
    display: none;
    width: 290px;
    padding: 8px;
    border: 1px #ccc solid;
    position: absolute;
    top: 29px;
    right: -2px;
    background: #fff;

}
/*head 部分完成*/





